<link rel="stylesheet" href="../css/actividades-clave.css" />
<section class="actividades-clave-modal">
  <p>
    Nos centramos principalmente en mantener nuestra red activa y en resolver
    los problemas de nuestros clientes.
  </p>
  <h4>1. Actividades de Plataforma o Red</h4>
  <ul>
    <li>
      <strong>Desarrollo y mantenimiento de la plataforma:</strong> Diseñamos,
      programamos y actualizamos continuamente nuestra web y app, asegurando que
      sean seguras, estables y fáciles de usar. Queremos que encontrar y
      contratar profesionales sea rápido y sencillo.
    </li>
    <li>
      <strong>Gestión del talento:</strong> Buscaremos captar a los mejores
      profesionales, asegurando que su perfil y servicios sean de alta calidad.
      También mantenemos su participación activa en la plataforma. Y daremos
      menos visibilidad e incluso expulsaremos de la plataforma a aquellos que
      generen problemas.
    </li>
  </ul>

  <h4>2. Actividades de Resolución de Problemas</h4>
  <ul>
    <li>
      <strong>Gestión de pagos y legalidad:</strong> Creamos un sistema de pagos
      seguro y nos aseguramos de cumplir siempre la legislación vigente, para
      que clientes y profesionales trabajen con confianza.
    </li>
    <li>
      <strong>Marketing y captación de clientes:</strong> Promocionamos nuestra
      plataforma para atraer a PYMES y particulares, usando estrategias
      digitales y definiendo cómo monetizar nuestros servicios.
    </li>
  </ul>

  <h3 class="titulos">Enfoque y subcontratación:</h3>
  <p>
    Nos centramos en lo más importante: desarrollo tecnológico y adquisición de
    talento. Algunas tareas secundarias, como contabilidad o gestión legal,
    podemos subcontratarlas para optimizar recursos.
  </p>
</section>
