<link rel="stylesheet" href="../css/estructura-costes.css" />
<section class="estructura-costes-modal">
  <h2>Estructura de Costes</h2>
  <ol>
    <li>
      <strong>Costes de Personal (El Gasto Fijo Crítico)</strong><br />
      El coste más importante en la fase inicial recae en el salario y
      compensación del equipo fundador. A pesar de ser solo tres
      desarrolladores, su alto nivel de especialización hace que este sea el
      principal gasto fijo.
    </li></br>
    <li>
      <strong>Costes Operacionales y Administrativos (Mínimos)</strong><br />
      Costes fijos bajos, externalizados estratégicamente para mantener la
      concentración del equipo fundador en el producto.
      <br></br>
        <li>
          <strong>Servicios Legales y Fiscales Externalizados:</strong>
          Honorarios recurrentes de la gestoría externa y de la consultoría
          legal especializada (socio clave) para garantizar el cumplimiento
          normativo.
        </li></br>
        <li>
          <strong>Costes Administrativos:</strong> Gastos mínimos de oficina,
          material de oficina, y servicios básicos.
        </li></br>
      </ul>
    </li>
    <li>
      <strong
        >¿Qué volumen de facturación necesita TalentBridge para cubrir todos los
        costes operativos?</strong
      ><br />
      La ventaja de un producto en web es que son servicios de bajo coste con
      riesgo de escalabilidad a largo plazo.<br />
      Pero realmente es la compra-venta de un dominio-web, y el gasto del
      personal encargado del mantenimiento de la misma (Soporte técnico,
      mantenimiento de versiones, atención personalizada, etc).<br />
      El plan es conseguir una amortización de gastos esenciales en 12 meses.
    </li>
  </ol>
</section>
