<link rel="stylesheet" href="../css/propuesta-valor.css" />
<section class="propuesta-valor-modal">
  <p>
    Nuestra plataforma responde a la necesidad de
    <strong>confianza y eficiencia</strong> en la contratación de talento.
    Satisfacemos la demanda de encontrar profesionales cualificados de manera
    inmediata y sencilla, resolviendo los problemas que la competencia no aborda
    completamente:
  </p>
  <ul>
    <li>
      <strong>Simplificación y mitigación de riesgos:</strong> facilitamos la
      localización de servicios profesionales de calidad en diversas áreas y
      garantizamos que el trabajo se completará según lo acordado, minimizando
      riesgos económicos y dificultades de búsqueda.
    </li>
    <li>
      <strong>Comodidad transaccional:</strong> eliminamos las molestias de
      llamadas prolongadas, complicaciones de pago y dificultades para
      identificar al experto. El pago se realiza de forma segura y sencilla
      mediante un sistema de Pago en Garantía.
    </li>
  </ul>
  <p>Incluimos:</p>
  <ul>
    <li>Plataforma con profesionales verificados</li>
    <li>Sistema de Pago en Garantía</li>
    <li>Herramientas de gestión de hitos integradas</li>
  </ul>
  <p>
    Nos diferenciamos por conectar a profesionales y clientes de forma clara,
    rápida y segura. Con TalentBridge, no es necesario recurrir a múltiples
    plataformas especializadas: desde un solo lugar, el usuario accede a talento
    de diferentes campos, disfrutando de una
    <strong>solución de ventanilla única</strong>.
  </p>
  <p>
    Este valor añadido es clave para el éxito del cliente, ya que mitiga riesgos
    y garantiza resultados profesionales.
  </p>
</section>
